{% extends "base.html" %}


{% block content %}
<div class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <div class="mb-0 mt-3 text-center d-flex justify-content-center align-items-center flex-column">
    {% include "utils/messages.html" %}
  </div>
  {% if sites %}
  <a href="{{ url_for('main_app.download') }}" class="btn btn-success text-end my-3">Download XML Report</a>
  {% include "utils/statistics_table.html" %}
  {% else %}
  <h4 class="mt-3 text-center">No sites in database yet</h4>
  {% endif %}
</div>
{% endblock content %}
