{% extends "base.html" %}


{% block content %}
<div class="text-center mt-3 d-flex justify-content-center">
    <main class="form-signin">
        <form method="post" action="{{ url_for('login') }}">
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            {% include "./utils/messages.html" %}
            <div class="form-floating">
                <input type="text" class="form-control mb-3" id="floatingInput" placeholder="Username" name="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control mb-3" id="floatingPassword" placeholder="Password"
                    name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        </form>
    </main>
</div>
{% endblock content %}