{% extends "base.html" %}


{% block content %}
<div class="text-center mt-3 d-flex justify-content-center">
    <main class="form-signin">
        <form method="post" enctype="multipart/form-data" action="{{ url_for('main_app.upload_file') }}">
            {{ form.csrf_token }}
            <h1 class="h3 mb-3 fw-normal">Upload site list file</h1>
            {% include "./utils/messages.html" %}
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile" name="document">
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
        </form>
    </main>
</div>
{% endblock content %}
